.table-responsive {
    margin: 30px 0;
    }
    .table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .tableHaber.tableHaber td a.edit {
        color: #FFC107;
    }
    .tableHaber.tableHaber td a.delete {
        color: #F44336;
    }
    .table-title {
        padding-bottom: 15px;
        background: #5e5e5e;
        color: #fff;
        padding: 7px 30px;
        margin: -19px -25px 14px;
        border-radius: 5px 5px 0 0;
        /* height: 60px; */
        /* line-height: 18px; */
    }
    .table-title h5 {
    margin: 5px 0 0;
    font-size: 24px;
    }
    .table-title .btn {
    color: #877056;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    }
    .table-title .btn:hover, .table-title .btn:focus {
    color: #e7780f;
    background: #f2f2f2;
    }
    .table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
    }
    .table-title .btn span {
    float: left;
    margin-top: 2px;
    }
    .tableMezun.tableMezun tr th, .tableMezun.tableMezun tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
    }

    .tableMezun.tableMezun tr th {
    width: 90px;
    }
    .tableMezun.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
    }
    .tableMezun.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
    }
    .tableMezun.tableMezun th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
    }
    .tableMezun.tableMezun td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
    }
    .tableMezun.tableMezun td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    }
    .tableMezun.tableMezun td a:hover {
    color: #2196F3;
    }
    .tableMezun.tableMezun td a.settings {
    color: #2196F3;
    }
    .tableMezun.tableMezun td a.delete {
    color: #F44336;
    }
    .tableMezun.tableMezun td i {
    font-size: 19px;
    }
    .tableMezun.tableMezun .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    }
    .status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
    }
    .text-success {
    color: #10c469;
    }
    .text-info {
    color: #62c9e8;
    }
    .text-warning {
    color: #FFC107;
    }
    .text-danger {
    color: #ff5b5b;
    }
    .pagination {
    float: right;
    margin: 0 0 5px;
    }
    .pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
    }
    .pagination li a:hover {
    color: #666;
    }
    .pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
    }
    .pagination li.active a:hover {
    background: #0397d6;
    }
    .pagination li.disabled i {
    color: #ccc;
    }
    .pagination li i {
    font-size: 16px;
    padding-top: 6px
    }
    .hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
    }
    .btn-act{
        padding: 2px;
    }
    .cancelbtn, .deletebtn {
        float: left;
        width: 50%;
      }